/* Video.css */

/* Estilos generales del contenedor */
.add-video-container {
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .add-video-container .back-btn {
    padding: 12px 30px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer;
    display: inline-flex;
    align-items: center; /* Alineación del texto y la flecha */
    justify-content: center;
    transition: all 0.3s ease-in-out; /* Transición suave */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-bottom: 20px;
  }
  
  .add-video-container .back-btn .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 10px; /* Espacio entre la flecha y el texto */
    border-left: 10px solid transparent; /* Parte transparente */
    border-right: 10px solid transparent; /* Parte transparente */
    border-top: 10px solid white; /* La flecha blanca */
  }
  
  .add-video-container .back-btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px); /* Efecto de elevación al pasar el cursor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  }
  
  .add-video-container .back-btn:active {
    transform: translateY(1px); /* Efecto de presión */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-video-container iframe {
    margin-top: 40px;
  }
  